<!-- Footer Start-->
<div class="footer-area footer-padding">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
        <div class="single-footer-caption mb-50">
          <div class="single-footer-caption mb-30">
            <!-- logo -->
            <div class="footer-logo">
              <a href="/">
                <svg
                  width="111"
                  height="27"
                  viewBox="0 0 111 27"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.664492 21V0.0599996H3.84449V18.21H11.4645V21H0.664492ZM24.5956 21C23.8356 21 23.2456 20.79 22.8256 20.37C22.4056 19.95 22.1956 19.29 22.1956 18.39H21.8356C21.6156 19.33 21.1556 20.06 20.4556 20.58C19.7756 21.1 18.9356 21.36 17.9356 21.36C16.4556 21.36 15.3456 20.97 14.6056 20.19C13.8856 19.39 13.5256 18.27 13.5256 16.83C13.5256 15.27 14.0256 14.08 15.0256 13.26C16.0256 12.44 17.4956 12.03 19.4356 12.03H22.0156V10.53C22.0156 9.53 21.7956 8.8 21.3556 8.34C20.9156 7.86 20.2156 7.62 19.2556 7.62C18.5156 7.62 17.8756 7.78 17.3356 8.1C16.8156 8.42 16.3356 8.96 15.8956 9.72L14.0656 8.04C14.5856 7.16 15.2856 6.44 16.1656 5.88C17.0656 5.32 18.1656 5.04 19.4656 5.04C21.3456 5.04 22.7556 5.5 23.6956 6.42C24.6356 7.32 25.1056 8.65 25.1056 10.41V18.45H26.5756V21H24.5956ZM18.9556 18.96C19.3956 18.96 19.7956 18.89 20.1556 18.75C20.5356 18.61 20.8556 18.42 21.1156 18.18C21.3956 17.94 21.6156 17.66 21.7756 17.34C21.9356 17 22.0156 16.64 22.0156 16.26V14.1H19.5856C17.6456 14.1 16.6756 14.8 16.6756 16.2V16.92C16.6756 17.62 16.8756 18.14 17.2756 18.48C17.6956 18.8 18.2556 18.96 18.9556 18.96ZM29.4877 5.4H32.5777V7.95H32.9377C33.1977 7.03 33.6577 6.32 34.3177 5.82C34.9977 5.3 35.7977 5.04 36.7177 5.04C38.5577 5.04 39.9277 5.75 40.8277 7.17C41.7477 8.57 42.2077 10.58 42.2077 13.2C42.2077 15.82 41.7477 17.84 40.8277 19.26C39.9277 20.66 38.5577 21.36 36.7177 21.36C35.7977 21.36 34.9977 21.11 34.3177 20.61C33.6577 20.09 33.1977 19.37 32.9377 18.45H32.5777V27H29.4877V5.4ZM35.6077 18.72C36.6677 18.72 37.4877 18.39 38.0677 17.73C38.6477 17.07 38.9377 16.14 38.9377 14.94V11.46C38.9377 10.26 38.6477 9.33 38.0677 8.67C37.4877 8.01 36.6677 7.68 35.6077 7.68C34.7277 7.68 33.9977 7.91 33.4177 8.37C32.8577 8.83 32.5777 9.46 32.5777 10.26V16.14C32.5777 16.94 32.8577 17.57 33.4177 18.03C33.9977 18.49 34.7277 18.72 35.6077 18.72Z"
                    fill="black"
                  />
                  <path
                    d="M64.7998 21H50.8198V18.15L60.8698 2.85H51.2998V0.0599996H64.4698V2.91L54.4198 18.21H64.7998V21ZM73.2687 21.36C72.2687 21.36 71.3687 21.2 70.5687 20.88C69.7887 20.56 69.1087 20.07 68.5287 19.41C67.9687 18.75 67.5387 17.91 67.2387 16.89C66.9387 15.85 66.7887 14.62 66.7887 13.2C66.7887 11.78 66.9387 10.56 67.2387 9.54C67.5387 8.5 67.9687 7.65 68.5287 6.99C69.1087 6.33 69.7887 5.84 70.5687 5.52C71.3687 5.2 72.2687 5.04 73.2687 5.04C74.2487 5.04 75.1387 5.2 75.9387 5.52C76.7387 5.84 77.4187 6.33 77.9787 6.99C78.5587 7.65 78.9987 8.5 79.2987 9.54C79.5987 10.56 79.7487 11.78 79.7487 13.2C79.7487 14.62 79.5987 15.85 79.2987 16.89C78.9987 17.91 78.5587 18.75 77.9787 19.41C77.4187 20.07 76.7387 20.56 75.9387 20.88C75.1387 21.2 74.2487 21.36 73.2687 21.36ZM73.2687 18.78C74.3087 18.78 75.0987 18.47 75.6387 17.85C76.1987 17.23 76.4787 16.29 76.4787 15.03V11.37C76.4787 10.11 76.1987 9.17 75.6387 8.55C75.0987 7.93 74.3087 7.62 73.2687 7.62C72.2287 7.62 71.4287 7.93 70.8687 8.55C70.3287 9.17 70.0587 10.11 70.0587 11.37V15.03C70.0587 16.29 70.3287 17.23 70.8687 17.85C71.4287 18.47 72.2287 18.78 73.2687 18.78ZM82.9545 21V5.4H86.0445V7.98H86.4045C87.0245 6.02 88.3045 5.04 90.2445 5.04C91.6445 5.04 92.7245 5.52 93.4845 6.48C94.2645 7.42 94.6545 8.81 94.6545 10.65V21H91.5645V11.07C91.5645 9.97 91.3545 9.13 90.9345 8.55C90.5145 7.97 89.8545 7.68 88.9545 7.68C88.1345 7.68 87.4445 7.93 86.8845 8.43C86.3245 8.91 86.0445 9.59 86.0445 10.47V21H82.9545ZM104.386 21.36C103.406 21.36 102.506 21.2 101.686 20.88C100.866 20.56 100.166 20.07 99.5862 19.41C99.0062 18.73 98.5462 17.88 98.2062 16.86C97.8862 15.84 97.7262 14.62 97.7262 13.2C97.7262 11.78 97.8762 10.56 98.1762 9.54C98.4762 8.5 98.9062 7.65 99.4662 6.99C100.046 6.33 100.726 5.84 101.506 5.52C102.306 5.2 103.206 5.04 104.206 5.04C106.186 5.04 107.726 5.69 108.826 6.99C109.946 8.29 110.506 10.36 110.506 13.2V13.98H100.966V14.97C100.966 16.21 101.276 17.16 101.896 17.82C102.536 18.48 103.406 18.81 104.506 18.81C105.446 18.81 106.216 18.6 106.816 18.18C107.436 17.76 107.956 17.17 108.376 16.41L110.176 18.12C109.616 19.1 108.856 19.89 107.896 20.49C106.956 21.07 105.786 21.36 104.386 21.36ZM104.206 7.5C103.166 7.5 102.366 7.82 101.806 8.46C101.246 9.08 100.966 10.02 100.966 11.28V11.91H107.236V11.28C107.236 8.76 106.226 7.5 104.206 7.5Z"
                    fill="#EB4D1B"
                  />
                </svg>
              </a>

              {{! <a href="index.html"><img src="images/logo/logo2_footer.png" alt=""></a> }}
            </div>
            <div class="footer-tittle">
              <div class="footer-pera">
                <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing
                  elitcf sed do eiusmod tem.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
        <div class="single-footer-caption mb-50">
          <div class="footer-tittle">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#"> Offers & Discounts</a></li>
              <li><a href="#"> Get Coupon</a></li>
              <li><a href="#"> Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
        <div class="single-footer-caption mb-50">
          <div class="footer-tittle">
            <h4>New Products</h4>
            <ul>
              <li><a href="#">Woman Cloth</a></li>
              <li><a href="#">Fashion Accessories</a></li>
              <li><a href="#"> Man Accessories</a></li>
              <li><a href="#"> Rubber made Toys</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
        <div class="single-footer-caption mb-50">
          <div class="footer-tittle">
            <h4>Support</h4>
            <ul>
              <li><a href="#">Frequently Asked Questions</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><div class="footer-social">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-behance"></i></a>
                  <a href="#"><i class="fas fa-globe"></i></a>
                </div></li>

            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Footer End-->