<section class="vh-90" style="background-color: #ffffff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5"> Email Verification</h3>
            {{!-- <h5 class="m-0">Mobile phone verification</h5> --}}
            <span class="mobile-text">Enter your Email Id <b class="text-danger"></b></span>
            <form action="/emailVerify" method="post" id="forms">
              <div class="form-outline mb-4">
                <input type="" id="typeEmailX-2" class="form-control form-control-lg" name="email" />
              </div>



              <!-- Checkbox -->
              {{#if loginErrForget}}
              <p class="error" style="color: red;">{{loginErrForget}}</p>
              {{/if}}

              <button class="btn btn-primary btn-lg btn-block" type="submit">Next</button>

            </form>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>